{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <link rel="stylesheet" href="{% static 'css/facebook.css' %}">
  <link rel="stylesheet" href="{% static 'css/logo_adjust.css' %}">
{% endblock %}

{% block page %}
  <div class="container header-logo">
    <h1 class="text-center logo my-4">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="">
      </a>
    </h1>




    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
