{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block stylesheet%}
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/pricing.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- Contact -->

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">Call, email, or schedule online</p>
    <a href="{% url 'schedule' %}" class="btn btn-lg btn-outline-primary">Schedule</a>

</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"><svg class="bi bi-phone" width="1em" height="1em"
                        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                        <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg> Call</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><a href="tel:216-956-4986">216-956-4986</a><small
                        class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1-3 cubic yards : $35/cu. yard</li>
                    <li>5-8 cubic yards : $30/cu. yard</li>
                    <li>9+ cubic yards : $25/cu. yard</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"><svg class="bi bi-envelope-open" width="1em" height="1em"
                        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 8.917l7.757 4.654-.514.858L8 10.083.757 14.43l-.514-.858L8 8.917z" />
                        <path fill-rule="evenodd"
                            d="M6.447 10.651L.243 6.93l.514-.858 6.204 3.723-.514.857zm9.31-3.722L9.553 10.65l-.514-.857 6.204-3.723.514.858z" />
                        <path fill-rule="evenodd"
                            d="M15 14V5.236a1 1 0 0 0-.553-.894l-6-3a1 1 0 0 0-.894 0l-6 3A1 1 0 0 0 1 5.236V14a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM1.106 3.447A2 2 0 0 0 0 5.237V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.236a2 2 0 0 0-1.106-1.789l-6-3a2 2 0 0 0-1.788 0l-6 3z" />
                    </svg> Email</h4>
            </div>
            <div class="card-body">
                <h1 style="font-size:30px;" class="card-title pricing-card-title"><a href="mailto:mulchmenmail@gmail.com">mulchmenmail@gmail.com</a></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>We create or redefine an edge around your beds. This will make your yard stand out amongst those
                        competitive neighbors of yours</li>
                </ul>
            </div>
        
        </div>

    </div>
    {% endblock %}
