{% extends 'base.html' %}

{% load to_string %}


{% load static %}

{% block title %}Thank you!{% endblock %}


{% block stylesheet%}
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-3">Thank you for choosing MulchMen!</h1>
  {% comment %} <h2 class="display-4">Your Orders</h2> {% endcomment %}
  <p>Check your inbox for a confirmation email that we received your order. We will contact you soon to confirm your appointment. Contact us with any further questions and we cannot wait to help transform your yard!</p>
</div>


  {% endblock %}

